*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color:#C6BCB8;
 }
 .header{
	 	width: 100%;
	 	float: left;
	 	padding: 1%;
	 	/*height: 100%;*/
	 	background-color: #8E807B;
	 	border-bottom: 6px solid #3C3634;
	 }
	 .header1{
	 	font-family: 'Amatic SC', cursive;
	 	font-size: 70px;
	 	width: 45%;
	 	text-decoration: none;
	 	color: #40312B;
	 	border-left: 50px;
	 	float: left;
	 	/*height: 100%;*/
	 }
	 .h1{
	 	text-decoration: none;
	 	color: #40312B;
	 	font-weight: bolder;
	 	margin-left: 100px;
	 }
	 .h1:hover{
       color: #A60000;
	 }
	 .header3{
	 	width: 100%;
	 }
	 .search{
	 	width: 19%;
	 	float: left;
	 	height: 100%;
	 	padding-top: 30px;
	 }
	 .header2{
	 	width: 35%;
	    font-family: 'Poiret One', cursive;
	    color: #40312B;
	    font-size: 60px;
	    float: right;
	   /* height: 100%;*/
	 }
	 .vhod{
	 	float: right;
	 }
	 .footer{
	 	width: 100%;
	 	float: left;
	 	background-color: #8E807B;
	 	border-top: 6px solid #3C3634;
	 	padding: 3px;
	 }
	 #rights{
	 	width: 40%;
	 	float: left;
	 	padding-left: 40px; 
	 }
	 #social{
	 	width: 60%;
	 }
	.vk, .fb, .inst{
		max-width: 30px;
		width: 100%;
		height: auto; 
        display:block;
        float: left;
	}
.heading{
font-size: 48px;
text-align: center; /*выравнивание текста по центру*/
width: 100%; 
font-family: 'Fascinate Inline', cursive;
padding: 10px 0; /*внутренний отступ для heading'а*/
}

.main{
background-color: #fff;
display: flex;
width: 95%;
max-width: 1000px;
margin: auto;
box-shadow: 0px 0px 100px 1px  rgba(0,0,0,0.7); /*тень по 4ем сторонам*/ 
/*1ый 0 по ширине, 2ой 0 по высоте, 3ий 0 радиус размытия, 4ое растяжение*/
/*в скобках задает насыщеность цвета*/
flex-wrap: wrap;
}

.item{
	max-height: 265px;
	max-width: 490px;
	width: calc(95vw / 2 - 10px);
	height: calc(95vw / 2 / 16 * 9);
	background-color: dodgerblue;
	background-position: center; /*совмещает центр изображения с центром контейнера*/ 
	-webkit-background-size: cover; /*маштабирует избражение в сответствии с его размером*/
	background-size: cover;
}

.img_link{
display:block;
opacity: 1;
transition: 1s ease-in/*, transform:1s ease-in, box-shadow: 0.3s ease-out*/; /*время, плавность амимации*/
margin: 5px;
}

@media all and (max-width: 768px){
	.item{
		max-height:initial;
		max-width:initial;
		width:95vw;
		height:calc(95vw / 16 * 9); 
}
.img_link{
	margin: 5px 0;
}
}

@media all and (min-width: 1200px) {
	.img_link:hover {
		opacity: 1;/*прозрачность элемента при наведении*/
		transform:scale(1.2) rotate(5deg);
		z-index: 10;/*прозрачность элемента при наведении*/
		box-shadow: 0 0 200px 30px rgba(0,0,0,0.4);
	}

}
.author{
	    font-size: 40px;/*размер ссылки*/
	 	color: black;/*цвет ссылки*/
	    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.author:hover{
	 	color: #A60000;
	 }
.a1,.a2{
	 	font-size: 34px;
	 	color: #220D00;
	 	width: 40%;
	    margin: auto;
	    font-family: 'Yanone Kaffeesatz', sans-serif; 
	    text-decoration: none; 
	 }
	 .a1, .a2:hover{
     	color: #61133F;
     }