body{
	background-color:#C6BCB8;
}
*{  padding: 0;
	margin: 0; 
	box-sizing: border-box;
}
img{
	max-width: 700px;
	width: 100%;
	height: auto;
	display:block;
	margin: auto;
     }
  .header{
	 	width: 100%;
	 	float: left;
	 	padding: 1%;
	 	/*height: 100%;*/
	 	background-color: #8E807B;
	 	border-bottom: 6px solid #3C3634;
	 }
	 .header1{
	 	font-family: 'Amatic SC', cursive;
	 	font-size: 70px;
	 	width: 45%;
	 	text-decoration: none;
	 	color: #40312B;
	 	border-left: 50px;
	 	float: left;
	 	/*height: 100%;*/
	 }
	 .h1{
	 	text-decoration: none;
	 	color: #40312B;
	 	font-weight: bolder;
	 	margin-left: 100px;
	 }
	 .h1:hover{
       color: #A60000;
	 }
	 .header3{
	 	width: 100%;
	 }
	 .search{
	 	width: 19%;
	 	float: left;
	 	height: 100%;
	 	padding-top: 30px;
	 }
	 .header2{
	 	width: 35%;
	    font-family: 'Poiret One', cursive;
	    color: #40312B;
	    font-size: 60px;
	    float: right;
	    text-align: right;
	   /* height: 100%;*/
	 }
	 .vhod{
	 	float: right;
	 	 text-align: right;
	 }
	 .footer{
	 	width: 100%;
	 	float: left;
	 	background-color: #8E807B;
	 	border-top: 6px solid #3C3634;
	 	padding: 3px;
	 }
	 #rights{
	 	width: 40%;
	 	float: left;
	 	padding-left: 40px; 
	 }
	 #social{
	 	width: 60%;
	 }
	.vk, .fb, .inst{
		max-width: 30px;
		width: 100%;
		height: auto; 
        display:block;
        float: left;
	}
	.h1page2{ 
	    font-family: 'Amatic SC', cursive;
	    font-size: 90px;
	    width: 70%;
	    margin: auto;
}
	.h2page2, .h3page2, .h4page2{
	    font-family: 'Poiret One', cursive;
	    font-size: 50px;
	    width: 70%;
	    margin: auto;
	    text-align: center;
     }
     .imgpage2{
	max-width: 900px;
	height: auto;
     }
     .div1page2{
	    width: 70%;
	 	margin: auto;
	 	font-family: 'Open Sans Condensed', sans-serif;
	 	font-size: 35px;
     }
     .div2page2{
	    width: 70%;
	 	margin: auto;
	 	font-family: 'Open Sans Condensed', sans-serif;
	 	font-size: 35px;
     }
     .a2page2{
	    font-size: 42px;
	    font-family: 'Yanone Kaffeesatz', sans-serif; 
	    text-decoration: none; 
	    color: #40312B;
     }
     .a3page2{
	   font-size: 42px;
	    font-family: 'Yanone Kaffeesatz', sans-serif; 
	    text-decoration: none; 
	    color: #40312B; 
     }
     .a2page2:hover{
     	color: #009999;
     } 
     .a3page2:hover{
        color: #009999;
     }